# Coronavirus-Pakistan



Written by: M.Danish Azeem\
Date: 01.22.2024\
Email: danishazeem365@gmail.com

In [69]:
# import librases
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

# other
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
from sklearn.model_selection import train_test_split

In [70]:
df = pd.read_csv('PK COVID-19-10may1.csv')
df

,Date,Cases,Deaths,Recovered,Travel_history,Province,City
0,2/26/2020,1,0,0,China,Islamabad Capital Territory,Islamabad
1,2/26/2020,2,0,0,Iran/Taftan,Sindh,Karachi
2,2/29/2020,1,0,0,China,Islamabad Capital Territory,Islamabad
3,2/29/2020,1,0,0,Iran/Taftan,Sindh,Karachi
4,3/2/2020,1,0,0,Iran/Taftan,Gilgit-Baltistan,Gilgit
...,...,...,...,...,...,...,...
1322,5/10/2020,709,8,29,Local - Social Contact,Sindh,Karachi
1323,5/10/2020,59,0,0,Local - Social Contact,Baluchistan,Quetta
1324,5/10/2020,12,0,1,Local - Social Contact,Gilgit-Baltistan,Gilgit
1325,5/10/2020,160,11,40,Local - Social Contact,Khyber Pakhtunkhwa,Peshawar
1326,5/10/2020,7,0,0,Local - Social Contact,Azad Jummu Kashmir,Muzaffarabad

In [71]:
df.head()

,Date,Cases,Deaths,Recovered,Travel_history,Province,City
0,2/26/2020,1,0,0,China,Islamabad Capital Territory,Islamabad
1,2/26/2020,2,0,0,Iran/Taftan,Sindh,Karachi
2,2/29/2020,1,0,0,China,Islamabad Capital Territory,Islamabad
3,2/29/2020,1,0,0,Iran/Taftan,Sindh,Karachi
4,3/2/2020,1,0,0,Iran/Taftan,Gilgit-Baltistan,Gilgit

In [72]:
df['Province'].unique()

array(['Islamabad Capital Territory', 'Sindh', 'Gilgit-Baltistan',
       'Baluchistan', 'Punjab', 'Khyber Pakhtunkhwa',
       'khyber Pakhtunkhwa', 'Azad Jummu Kashmir',
       'Federal Administration Tribal Area'], dtype=object)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1327 entries, 0 to 1326
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1327 non-null   object
 1   Cases           1327 non-null   int64
 2   Deaths          1327 non-null   int64
 3   Recovered       1327 non-null   int64
 4   Travel_history  1327 non-null   object
 5   Province        1327 non-null   object
 6   City            1327 non-null   object
dtypes: int64(3), object(4)
memory usage: 72.7+ KB

In [74]:
df.isnull().sum()

Date              0
Cases             0
Deaths            0
Recovered         0
Travel_history    0
Province          0
City              0
dtype: int64

In [75]:
df.columns

Index(['Date', 'Cases', 'Deaths', 'Recovered', 'Travel_history', 'Province',
       'City'],
      dtype='object')

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming 'Recovered' is the target variable
features = ['Date', 'Cases', 'Deaths', 'Travel_history', 'Province', 'City']

# Extract relevant date information
df['Date'] = pd.to_datetime(df['Date'])
df['DayOfWeek'] = df['Date'].dt.dayofweek
df['Month'] = df['Date'].dt.month

# Encode categorical variables
le = LabelEncoder()
df['Travel_history'] = le.fit_transform(df['Travel_history'])

# Drop unnecessary columns for X (features)
X = df[['DayOfWeek', 'Month', 'Cases', 'Deaths', 'Travel_history']]

# Target variable
y = df['Recovered']