# Exploratory Data Analysis (EDA)
Written by: M.Danish Azeem\
Date: 12.12.2023\
Email: danishazeem365@gmail.com

In [9]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("iris")

In [10]:
df.to_csv("iris.to_csv")

In [14]:
df = pd.read_csv("iris.to_csv")
df.describe()

       Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000

In [16]:
# Import necessary libraries
import numpy as np

In [30]:
df.columns

Index(['Unnamed: 0', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species'],
      dtype='object')

In [31]:
df.dtypes

Unnamed: 0        int64
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [37]:
# Calculate the median
df[['Unnamed: 0', 'sepal_length', 'sepal_width', 'petal_length','petal_width']].median()

Unnamed: 0      74.50
sepal_length     5.80
sepal_width      3.00
petal_length     4.35
petal_width      1.30
dtype: float64

In [28]:
df.mode()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.0,3.0,1.4,0.2,setosa
1,1,NaN,NaN,1.5,NaN,versicolor
2,2,NaN,NaN,NaN,NaN,virginica
3,3,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
145,145,NaN,NaN,NaN,NaN,NaN
146,146,NaN,NaN,NaN,NaN,NaN
147,147,NaN,NaN,NaN,NaN,NaN
148,148,NaN,NaN,NaN,NaN,NaN
149,149,NaN,NaN,NaN,NaN,NaN