
#  Data Wrangling 

Written by: M.Danish Azeem\
Date: 01.04.2024\
Email: danishazeem365@gmail.com

In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [20]:
df = sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [22]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [24]:
df.isnull().sum() / len(df) * 100

sepal_length    0.0
sepal_width     0.0
petal_length    0.0
petal_width     0.0
species         0.0
dtype: float64

In [25]:
df["species"] = df["species"].astype("category")

In [26]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [27]:
df.boxplot()

In [28]:
df.shape

(150, 5)

In [29]:
# Remove outliers using the IQR method
Q1 = df['sepal_width'].quantile(0.25)
Q3 = df['sepal_width'].quantile(0.75)
IQR = Q3 - Q1
IQR
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[(df['sepal_width'] > lower_bound) & (df['sepal_width'] < upper_bound)]

In [30]:
df.boxplot()

In [31]:
df.duplicated().sum()

1

In [32]:
df_dublicates = df[df.duplicated()]
df_dublicates.head()

     sepal_length  sepal_width  petal_length  petal_width    species
142           5.8          2.7           5.1          1.9  virginica

In [33]:
df.drop_duplicates(inplace=True)

C:\Users\Danish\AppData\Local\Temp\ipykernel_11936\3006716147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [34]:
df.shape

(145, 5)

In [35]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [40]:
df["petal_area"] = df["petal_length"] * df["petal_width"]

C:\Users\Danish\AppData\Local\Temp\ipykernel_11936\1344884189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["petal_area"] = df["petal_length"] * df["petal_width"]

In [41]:
df["species_first_letter"] = df["species"].str[0]

C:\Users\Danish\AppData\Local\Temp\ipykernel_11936\3911774566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["species_first_letter"] = df["species"].str[0]

In [43]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() ; df[["sepal_length", "sepal_width"]] = scaler.fit_transform(df[["sepal_length", "sepal_width"]])

C:\Users\Danish\AppData\Local\Temp\ipykernel_11936\3717948823.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scaler = MinMaxScaler() ; df[["sepal_length", "sepal_width"]] = scaler.fit_transform(df[["sepal_length", "sepal_width"]])

In [45]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,species_first_letter
0,0.222222,0.722222,1.4,0.2,setosa,0.28,s
1,0.166667,0.444444,1.4,0.2,setosa,0.28,s
2,0.111111,0.555556,1.3,0.2,setosa,0.26,s
3,0.083333,0.500000,1.5,0.2,setosa,0.30,s
4,0.194444,0.777778,1.4,0.2,setosa,0.28,s
...,...,...,...,...,...,...,...
145,0.666667,0.444444,5.2,2.3,virginica,11.96,v
146,0.555556,0.166667,5.0,1.9,virginica,9.50,v
147,0.611111,0.444444,5.2,2.0,virginica,10.40,v
148,0.527778,0.666667,5.4,2.3,virginica,12.42,v
149,0.444444,0.444444,5.1,1.8,virginica,9.18,v

In [46]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width  petal_area
count    145.000000   145.000000    145.000000   145.000000  145.000000
mean       0.432567     0.468199      3.797931     1.215862    5.895793
std        0.232492     0.221231      1.760819     0.759905    4.712281
min        0.000000     0.000000      1.000000     0.100000    0.110000
25%        0.222222     0.333333      1.600000     0.300000    0.420000
50%        0.416667     0.444444      4.400000     1.300000    5.720000
75%        0.583333     0.611111      5.100000     1.800000    9.800000
max        1.000000     1.000000      6.900000     2.500000   15.870000

In [49]:
df.to_excel("preprocessed_iris_data.xlsx")